<div id="signature-preview" xmlns="http://www.w3.org/1999/html">
    <table cellpadding="0" cellspacing="0" border="0"
           style="background: none; border-width: 0px; border: 0px; margin: 0; padding: 0;">
        <tbody>
        <tr>
            <td valign="top" style="padding-right: 7px; border-right: solid 3px #187FE6"><img id="preview-image-url"
                                                                                              alt="Image not found"
                                                                                              src="https://raw.githubusercontent.com/Iriabow/pepe/master/photo_2019-04-07_00-59-27.jpg">
            </td>
            <td style="padding-left: 12px;">
                <div id="preview-name"
                     style="padding-bottom: 5px; color: #187FE6; font-size: 18px; font-family: Arial, Helvetica, sans-serif;">
                    Grooving group
                </div>
                <div class="preview-phone"
                     style="color: #333333; font-size: 14px; font-family: Arial, Helvetica, sans-serif;"><span
                        style="display: inline-block; width: 52px; color: #187FE6;"><b>Mobile:</b></span><span
                        id="preview-mobile-phone">666 11 22 33</span></div>
                <div class="preview-address-l1"
                     style="color: #333333; font-size: 14px; font-family: Arial, Helvetica, sans-serif;"><span
                        style="display: inline-block; width: 65px; color: #187FE6;"><b>Address:</b></span><span
                        id="preview-address-1">C\Universidad de Sevilla 7, 2B</span></div>
                <div class="preview-web-email"
                     style="color: #333333; font-size: 14px; font-family: Arial, Helvetica, sans-serif;">
                    <span style="display: inline-block; width: 57px; color: #187FE6;"><b>Website:</b></span>
                    <span id="preview-website"><a href="https://grooving-frontend-d3.herokuapp.com"
                                                  style=" color: #1da1db; text-decoration: none; font-weight: normal; font-size: 14px;">https://grooving-frontend-d3.herokuapp.com</a></span>&nbsp;&nbsp;
                    <span style="display: inline-block; width: 40px; color: #187FE6;"><b>Email:</b></span> </br>
                    <span id="preview-email"><a href="mailto:grupogrooving@gmail.com"
                                                style="color: #1da1db; text-decoration: none; font-weight: normal; font-size: 14px;">grupogrooving@gmail.com</a></span>
                </div>
            </td>
        </tr>
        </tbody>