<!DOCTYPE html>
<html lang="en">
<style>
    * {
        text-align: justify;
        font-family: Archive;
    }

    p, tr, td {
        font-size: 12px;
    }

    table {
        font-size: 12px;
        width: 100%;
    }
</style>
<head>
    <meta charset="UTF-8">
    <title>PDF</title>
</head>
<body>
<img alt="Image not found" src="https://raw.githubusercontent.com/Iriabow/pepe/master/photo_2019-04-07_00-59-27.jpg">
<h1>Personal informatión</h1>
<table>
    <tr>
        <td><b>Full name</b>: {{ artist.user.get_full_name }}</td>
        <td><b>Phone</b>:{% if artist.phone %}{{ artist.phone }}{% else %}Not specified{% endif %}</td>
    </tr>
    <tr>
        <td><b>Paypal account</b>:
            {% if artist.paypalAccount %}{{ artist.paypalAccount }}{% else %}Not specified{% endif %}
        </td>
        <td><b>Username</b>: {{ artist.user.username }}</td>
    </tr>
</table>
<h2>Artistic information</h2>
<table>
    <tr>
        <td colspan="2"><b>Artistic name</b>:
            {% if artist.portfolio.artisticName %}
                {{ artist.portfolio.artisticName }}
            {% else %}
                Not specified
            {% endif %}
        </td>
    </tr>
    <tr>
        {% if artist_genders %}
            <td><b>Artistic gender</b>: {{ artist_genders }}</td>
        {% endif %}
        {% if artist_zones %}
            <td><b>Performance zones</b>: {{ artist_zones }}</td>
        {% endif %}
    </tr>
    <tr>
        <td colspan="2"><b>Group score</b>: {{ artist.rating }}</td>
    </tr>
</table>

<h3>Unavailable days</h3>
{% if artist_unavailable_days %}
    <p>{{ artist_unavailable_days }}</p>
{% else %}
    <p>None created.</p>
{% endif %}

<h3>Biography</h3>
{% if artist.portfolio.biography %}
    <p>{{ artist.portfolio.biography }}</p>
{% else %}
    <p>Not specified</p>
{% endif %}

<h3>Available payment packages</h3>
{% if not artist.portfolio.paymentPackages %}
    <p>None created.</p>
{% else %}
    {% for payment_package in artist.portfolio.paymentPackages.all %}
        <table>
            <tr>
                <td colspan="3"><b>Description</b>: {{ payment_package.description }}</td>
            </tr>
            <tr>
                {% if payment_package.performance %}
                    <td><b>Package type</b>: Performance</td>
                    <td><b>Show time</b>: {{ payment_package.performance.hours }} hour/s</td>
                    <td><b>Price:</b> {{ payment_package.performance.price.normalize }} {{ payment_package.currency }}
                    </td>
                    </tr>
                    <tr>
                    <td colspan="3"><b>Information</b>: {{ payment_package.performance.info }}</td>
                {% elif payment_package.fare %}
                    <td><b>Package type</b>: Fare</td>
                    <td><b>Precio per
                        hour</b>: {{ payment_package.fare.priceHour.normalize }} {{ payment_package.currency }}</td>
                {% elif payment_package.custom %}
                    <td><b>Payment package</b>: Custom</td>
                    <td><b>Minimal
                        price</b>: {{ payment_package.custom.minimumPrice.normalize }} {{ payment_package.currency }}
                    </td>
                {% endif %}

                </tr>
        </table>
        <br/>
    {% endfor %}
{% endif %}

<h3>Aditional contents</h3>
{% if artist_portfoliomodules %}
    {% for portfolio_modules in artist_portfoliomodules %}
        <table>
            <tr>
                <td><b>Content type</b>:
                    {% if portfolio_modules.type == "PHOTO" %}
                        Photo
                    {% elif portfolio_modules.type == "VIDEO" %}
                        Video
                    {% elif portfolio_modules.type == "AUDIO" %}
                        Audio
                    {% elif portfolio_modules.type == "FACEBOOK" %}
                        Facebook social network
                    {% elif portfolio_modules.type == "TWITTER" %}
                        Twitter social network
                    {% elif portfolio_modules.type == "INSTAGRAM" %}
                        Instagram social network
                    {% elif portfolio_modules.type == "MEMBER" %}
                        Member team
                    {% endif %}
                </td>
                {% if portfolio_modules.description %}
                    <td><b>Description</b>: {{ portfolio_modules.description }}</td>
                {% endif %}
            </tr>
            <tr>
                {% if portfolio_modules.link %}
                    <td><b>Link</b>: <a href="{{ portfolio_modules.link }}">Click here</a></td>
                {% endif %}
            </tr>
        </table>
    {% endfor %}
{% else %}
    <p>None created</p>
{% endif %}

<h2>Offers received</h2>
{% if artist_offers %}
    {% for offer in artist_offers %}
        <h3>Offer {{ forloop.counter }}</h3>
        <table>
            <tr>
                <td><b>Name</b>:
                    {% if offer.eventLocation.name %}
                        {{ offer.eventLocation.name }}
                    {% else %}
                        not specified
                    {% endif %}
                </td>
                <td><b>Contractor</b>: {{ offer.eventLocation.customer.user.get_full_name }}</td>
            </tr>
            <tr>
                <td><b>Address</b>: {{ offer.eventLocation.address }}</td>
                <td><b>Zone</b>: {{ offer.eventLocation.zone }}</td>
            </tr>
            <tr>
                <td colspan="2"><b>Event date</b>: {{ offer.date|date:'Y-m-d' }} at {{ offer.date|date:'H:i' }}
                    for {{ offer.hours }} hour/s
                </td>
            </tr>
            {% if offer.eventLocation.equipment %}
                <tr>
                    <td colspan="2">
                        <b>Equipment</b>:
                        {% if offer.eventLocation.equipment %}
                            {{ offer.eventLocation.equipment }}
                        {% else %}
                            Not specified
                        {% endif %}
                    </td>
                </tr>
            {% endif %}
            {% if offer.eventLocation.description %}
                <tr>
                    <td colspan="2"><b>Place description</b>: {{ offer.eventLocation.description }}</td>
                </tr>
            {% endif %}
        </table>
        <br/>

        <table>
            <tr>
                <td colspan="2"><b>Offer description</b>: {{ offer.description }}</td>
            </tr>
            <tr>
                <td colspan="2"><b>Payment package selected</b>:
                    {% if offer.paymentPackage.performance %}
                        Performance
                    {% elif offer.paymentPackage.fare %}
                        Fare
                    {% elif offer.paymentPackage.custom %}
                        Custom
                    {% endif %}
                </td>
            </tr>
            <tr>
                <td><b>Price</b>: {{ offer.price }} {{ offer.currency }}</td>
                <td><b>Offer status</b>:
                    {% if offer.status == "PENDING" %}
                        Pending
                    {% elif offer.status == "REJECTED" %}
                        Rejected for you
                    {% elif offer.status == "WITHDRAWN" %}
                        Rechazado for the contractor
                    {% elif offer.status == "CONTRACT_MADE" %}
                        Accepted
                    {% elif offer.status == "CANCELLED_ARTIST" %}
                        Cancelled for you
                    {% elif offer.status == "CANCELLED_CUSTOMER" %}
                        Cancelled for the contractor
                    {% elif offer.status == "PAYMENT_MADE" %}
                        Paid
                    {% endif %}
                </td>
            </tr>
            {% if offer.status == "CONTRACT_MADE" or offer.status == "CANCELLED_ARTIST" or offer.status == "CANCELLED_CUSTOMER" or offer.status == "PAYMENT_MADE" %}
                <tr>
                    <td colspan="2"><b>Paypal Deposit Account</b>: {{ offer.transaction.paypalArtist }}</td>
                </tr>
            {% endif %}

            {% if offer.status == "PAYMENT_MADE" and offer.rating %}
                {% if offer.rating.score %}
                    <tr>
                        <td><b>Score received</b>: {{ offer.rating.score }}</td>
                    </tr>
                {% endif %}
                {% if offer.rating.comment %}
                    <tr>
                        <td><b>Comments</b>: {{ offer.rating.comment }}</td>
                    </tr>
                {% endif %}
            {% endif %}
            <tr>
                {% if offer.reason and offer.status == "REJECTED" or offer.status == "WITHDRAWN" or offer.status == "CANCELLED_ARTIST" or offer.status == "CANCELLED_CUSTOMER" %}
                    <td><b>Reason</b>: {{ offer.reason }}</td>
                {% endif %}
            </tr>
        </table>
        <br/>
    {% endfor %}
{% else %}
    <p>None created.</p>
{% endif %}
</body>
</html>