<!DOCTYPE html>
<html lang="es">
<style>
    * {
        text-align: justify;
        font-family: Archive;
    }

    a, tr, td {
        font-size: 12px;
    }

    table {
        font-size: 12px;
        width: 100%;
    }
</style>
<head>
    <meta charset="UTF-8">
    <title>PDF</title>
</head>
<body>
<img alt="Imágen no encontrada"
     src="https://raw.githubusercontent.com/Iriabow/pepe/master/photo_2019-04-07_00-59-27.jpg">
<h1>Información personal</h1>
<table>
    <tr>
        <td><b>Nombre completo</b>: {{ customer.user.get_full_name }}</td>
        <td><b>Teléfono</b>: {% if customer.phone %}{{ customer.phone }}{% else %}Not specified{% endif %}</td>
    </tr>
</table>
<h2>Localizaciones</h2>
{% if customer.eventLocations %}
    {% for location in customer.eventLocations.all %}
        <table>
            <tr>
                <td><b>Nombre</b>: {% if location.name %}{{ location.name }}{% else %}no especificado{% endif %}</td>
                <td><b>Zona</b>: {{ location.zone.name }}</td>
            </tr>
            <tr>
                <td colspan="2"><b>Dirección</b>: {{ location.address }}</td>
            </tr>
            {% if location.equipment %}
                <tr>
                    <td colspan="2"><b>Equipamiento</b>: {{ location.equipment }}</td>
                </tr>
            {% endif %}
            {% if location.description %}
                <tr>
                    <td colspan="2"><b>Descripción</b>: {{ location.description }}</td>
                </tr>
            {% endif %}
        </table>
        <br/>
        <h3>Ofertas enviadas para {{ location.name }}</h3>
        {% for offer in location.offers.all %}
            <h4>Oferta {{ forloop.counter }}</h4>
            <table>
                <tr>
                    <td><b>Artista</b>: {{ offer.paymentPackage.portfolio.artisticName }}</td>
                    <td><b>Fecha del evento</b>: {{ offer.date|date:'Y-m-d' }} a
                        las {{ offer.date|date:'H:i' }} durante {{ offer.hours }} hora/s
                    </td>
                </tr>
                <tr>
                    <td colspan="2"><b>Paquete seleccionado</b>: {{ offer.paymentPackage.description }}</td>
                </tr>
                <tr>
                    <td><b>Precio</b>: {{ offer.price }} {{ offer.currency }}</td>
                    <td><b>Estado de la oferta</b>:{% if offer.status == "PENDING" %}
                        Pendiente
                    {% elif offer.status == "REJECTED" %}
                        Rechazada por el artista
                    {% elif offer.status == "WITHDRAWN" %}
                        Rechazado por ti
                    {% elif offer.status == "CONTRACT_MADE" %}
                        Aceptada
                    {% elif offer.status == "CANCELLED_ARTIST" %}
                        Cancelada por el artista
                    {% elif offer.status == "CANCELLED_CUSTOMER" %}
                        Cancelada por ti
                    {% elif offer.status == "PAYMENT_MADE" %}
                        Pagado
                    {% endif %}</td>
                </tr>

                {% if offer.status == "PAYMENT_MADE" and offer.rating %}
                </table>
                    <br/>
                    <table>
                    {% if offer.rating.score %}
                        <tr>
                            <td><b>Puntuación recibida</b>: {{ offer.rating.score }}</td>
                        </tr>
                    {% endif %}
                    {% if offer.rating.comment %}
                        <tr>
                            <td><b>Comentarios</b>: {{ offer.rating.comment }}</td>
                        </tr>
                    {% endif %}
                {% endif %}
            </table>
            <br/>
        {% endfor %}
    {% endfor %}
{% else %}
    <p>No hay localizaciones</p>
{% endif %}

</body>
</html>